@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenHeader class="app-header">
        <div class="app-header-bar">
            <div class="app-brand">
                <RadzenText Text="TechMES WEB" TextStyle="TextStyle.H6" />
            </div>

            <nav class="top-nav" aria-label="Main navigation">
                <NavLink class="top-nav-link" href="/equipment">
                    <RadzenIcon Icon="precision_manufacturing" />
                    <span>Equipment</span>
                </NavLink>

                <NavLink class="top-nav-link" href="/info">
                    <RadzenIcon Icon="info" />
                    <span>Info</span>
                </NavLink>

                <NavLink class="top-nav-link" href="/param">
                    <RadzenIcon Icon="tune" />
                    <span>Param</span>
                </NavLink>

                <NavLink class="top-nav-link" href="/messages">
                    <RadzenIcon Icon="mail" />
                    <span>Messages</span>
                </NavLink>
            </nav>

            <div class="header-spacer"></div>

            <img class="app-logo"
                 src="images/TIS_logo_intellegence_g.png"
                 alt="Techinservice Intelligence" />
        </div>
    </RadzenHeader>

    <RadzenBody>
        <div class="page-content">
            @Body
        </div>
    </RadzenBody>

    <RadzenFooter class="app-footer">
        <div class="app-footer-bar">
            <EquipmentFooterCountsBlock />

            <div class="footer-spacer"></div>

            <RuntimeStatusBlock />
        </div>
    </RadzenFooter>
</RadzenLayout>

<RadzenDialog />
<RadzenNotification />
